*{
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 900px;
    margin: 0 auto;

}

h1 {
    margin: 15px;
}

p {
    display: inline-block;
    margin: 20px 20px;
}

#email {
    display: inline-block;
}

#btn {
    color: white;
    border-radius: 5px;
    background-color: rgb(12, 125, 170);
    padding: 5px 10px;
    display: block;
    margin-left: 400px;
}

#red {
    color: red;
}
#green {
    color: green;
}